@{
    var version = "";

    if(Yio.Data.Constants.VersionConstant.Patch == 0) {
        version = Yio.Data.Constants.VersionConstant.Release.ToString();
    } else {
        version = Yio.Data.Constants.VersionConstant.Release.ToString() + "." +
            Yio.Data.Constants.VersionConstant.Patch.ToString();
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>Yiff.co</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,700|Oswald" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/site.css" type="text/css">
</head>
<body>
    <div id="container">
        <div id="sidebar">
            <div id="sidebar-inner">
                <div id="sidebar-logo-container">
                    <div id="sidebar-logo">
                        Yiff.co
                        <a href="#"><i id="hide-sidebar-button" class="fa fa-bars"></i></a>
                    </div>
                </div>
                <div id="sidebar-search-container">
                    <div id="sidebar-search">
                        <span>Select Repository:</span>
                        <select id="repository-selector">
                        </select>
                    </div>
                </div>
                <div id="sidebar-nav-container">
                    <div id="sidebar-nav">
                        <ul>
                            <li class="random-button-item"><a id="random-button" href="#"><i class="fa fa-fw fa-random"></i> Random</a></li>
                            <li class="backward-button-item disabled"><a id="backward-button" href="#"><i class="fa fa-fw fa-backward"></i> Previous File</a></li>
                            <li class="hfm-button-item"><a id="hfm-button" href="#"><i class="fa fa-fw fa-mouse-pointer"></i> Auto-Click</a></li>
                            <li class="direct-button-item"><a id="direct-button" href="#"><i class="fa fa-fw fa-link"></i> Direct Link</a></li>
                            <li class="upload-button-item disabled"><a href="#"><i id="upload-button" class="fa fa-fw fa-upload"></i> Upload</a></li>
                        </ul>
                    </div>
                </div>
                <div id="sidebar-tags-container">
                    <div id="sidebar-tags">
                        <div id="sidebar-tags-inner">
                        </div>
                    </div>
                </div>
                <div id="sidebar-footer-container">
                    <div id="sidebar-footer">
                        <ul>
                            <li><a href="#" id="about-button"><i class="fa fa-fw fa-info-circle"></i> About / Contact</a></li>
                            <li><i class="fa fa-fw fa-flash"></i> <strong>Yiff.co</strong> @version</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar-mini">
            <div id="sidebar-mini-inner">
                <span id="sidebar-logo-mini"><i class="fa fa-fw fa-heart"></i>Yiff.co</span>
                <a href="#" id="random-mini-button"><i class="fa fa-fw fa-random"></i>Random</a>
                <a href="#" id="show-sidebar-button"><i class="fa fa-fw fa-bars"></i>Menu</a>
                <span id="sidebar-mini-reminder">
                    Open the <strong><i class="fa fa-fw fa-bars"></i>Menu</strong> to change what images to look at, and discover more options!
                </span>
            </div>
        </div>
        <div id="view" class="full">
        </div>
    </div>

    <div id="panel-overlay">
        @Html.Partial("_AboutPanelPartial")
        @Html.Partial("_HfmPanelPartial")
        @Html.Partial("_WelcomePanelPartial")
    </div>

    <img id="image-preload" style="width: 0; height: 0;" />

    <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>