<div class="panel full-height" id="comment-panel">
    <div class="panel-inner">
        <div class="panel-close">
            <a href="#" id="comment-panel-close"><i class="fa fa-fw fa-times"></i></a>
        </div>
        <h1>Comments</h1>
        <iframe id="comment-frame" frameborder="0"></iframe>
    </div>
</div>