<div class="panel" id="error-panel">
    <div class="panel-inner">
        <div class="panel-close">
        </div>
        <h1>Oops</h1>
        <p>
            Something has gone wrong. Try again later.
        </p>
    </div>
</div>