<div class="panel" id="error-panel">
    <div class="panel-inner">
        <div class="panel-close">
            <a href="#" id="about-panel-close"><i class="fa fa-fw fa-times"></i></a>
        </div>
        <h1 id="error-title">Error!</h1>
        <p id="error-message">
            Oh no!
        </p>
    </div>
</div>