<div class="panel" id="welcome-panel">
    <div class="panel-inner">
        <div class="panel-close">
            <a href="#"><i class="fa fa-fw fa-times"></i></a>
        </div>
        <h1>Welcome to Yiff.co!</h1>
        <p>
            <strong>Curl your paw round your dick, and get clicking!</strong>
        </p>
    </div>
</div>