{
    "AppSettings": {
        "External": {
            "DISQUS": "XXX",
            "GoogleAnalytics": "UA-XXXXXXXX-5"
        },
        "FileEndpoint": "https://files.example.com/",
        "FileStorage": "/var/lib/ictus/",
        "SiteDescription": "<p>My site is so cool!</p>"
        "SiteIcon": "camera-retro",
        "SiteName": "Ictus"
    },
    "ConnectionStrings": {
        "DefaultConnection": "..."
    },
    "Logging": {
        "IncludeScopes": false,
        "LogLevel": {
            "Default": "Debug",
            "System": "Information",
            "Microsoft": "Information"
        }
    }
}

