html {
    height: 100%;
}

body {
    background-color: #111111;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
}

#sidebar {
    display: table-cell;
    width: 200px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #222222;
    transition: all 0.5s linear;
    left: -200px;
    z-index: 10;
}

    #sidebar.visible {
        left: 0;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    }

#sidebar-inner {
    width: 200px;
    display: table;
    height: 100%;
    max-height: 100%;
}

#sidebar-logo-container,
#sidebar-search-container,
#sidebar-random-container,
#sidebar-nav-container,
#sidebar-footer-container {
    display: table-row;
}

#sidebar-logo {
    background-color: #33FFB8;
    padding: 10px;
    font-size: 30px;
    line-height: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    position: relative;
    display: table-cell;
    height: 1px;
}

    #sidebar-logo a {
        color: inherit;
    }

    #sidebar-logo .fa {
        position: absolute;
        right: 10px;
        top: 10px;
    }

#sidebar-search {
    background-color: #E0FF33;
    border-top: 4px solid #3D3D3D;
    padding: 10px;
    display: table-cell;
    height: 1px;
}

    #sidebar-search span {
        font-size: 12px;
        line-height: 10px;
        display: block;
        margin-bottom: 5px;
    }

    #sidebar-search select {
        width: 100%;
    }

#sidebar-random,
#sidebar-nav {
    border-top: 4px solid #3D3D3D;
    display: table-cell;
}

    #sidebar-random ul,
    #sidebar-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        #sidebar-random ul li,
        #sidebar-nav ul li {
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            line-height: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
            position: relative;
            transition: 0.5s;
        }

            #sidebar-random ul li:hover,
            #sidebar-nav ul li:hover {
                background-color: #DDDDDD !important;
                color: #111111 !important;
            }

            #sidebar-random ul li.disabled,
            #sidebar-nav ul li.disabled {
                background-color: #111111;
                opacity: 0.25;
            }

                #sidebar-random ul li.disabled a,
                #sidebar-nav ul li.disabled a {
                    pointer-events: none;
                }

            #sidebar-nav ul li.history-button-item {
                background-color: #222222;
                color: #FFFFFF;
            }

            #sidebar-nav ul li.hfm-button-item {
                background-color: #2F2F2F;
                color: #FFFFFF;
            }

            #sidebar-nav ul li.upload-button-item {
                background-color: #222222;
                color: #FFFFFF;
            }

            #sidebar-nav ul li.direct-button-item {
                background-color: #2F2F2F;
                color: #FFFFFF;
                border-top: 4px solid #3D3D3D;
            }

            #sidebar-nav ul li.comment-button-item {
                background-color: #222222;
                color: #FFFFFF;
            }

            #sidebar-nav ul li.tags-button-item {
                background-color: #2F2F2F;
                color: #FFFFFF;
            }

            #sidebar-random ul li a,
            #sidebar-nav ul li a {
                color: inherit;
                text-decoration: none;
                padding: 10px;
                display: block;
            }

                #sidebar-random ul li a .fa,
                #sidebar-nav ul li a .fa {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                }

#sidebar-nav-inner {
    overflow-y: auto;
    height: 1px;
}

#sidebar-random {
    height: 1px;
}

    #sidebar-random ul li.random-button-item {
        background-color: #FF337A;
        color: #000000;
    }

#sidebar-footer {
    display: table-cell;
    height: 1px;
    padding: 10px;
}

    #sidebar-footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        #sidebar-footer ul li {
            color: #FFFFFF;
            opacity: 0.4;
            font-size: 12px;
            font-family: 'Raleway', sans-serif;
        }

            #sidebar-footer ul li a {
                color: inherit;
                text-decoration: none;
            }

#sidebar-mini {
    display: table-cell;
    width: 0;
    position: absolute;
    overflow: visible;
    z-index: 5;
    transition: all 0.5s linear;
    opacity: 1;
}

    #sidebar-mini.hidden {
        opacity: 0;
    }

#sidebar-mini-inner {
    width: 180px;
    padding-top: 10px;
    padding-left: 10px;
}

    #sidebar-mini-inner a {
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
        text-transform: uppercase;
        display: block;
        text-decoration: none;
        color: #FFFFFF;
        text-shadow: 0 0 10px #000000;
    }

        #sidebar-mini-inner a .fa {
            margin-right: 3px;
        }

#sidebar-logo-mini {
    font-size: 26px;
    color: #FFFFFF;
    text-shadow: 0 0 10px #000000;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 5px;
    display: block;
}

    #sidebar-logo-mini .fa {
        margin-right: 5px;
    }

#view {
    display: table-cell;
    height: 100%;
    width: calc(100% - 200px);
    position: absolute;
    right: 0;
    transition: all 0.5s linear;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

    #view.full {
        width: 100%;
    }

.invisible {
    opacity: 0 !important;
}

#panel-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 500;
    overflow-y: auto;
}

.panel {
    display: none;
    background-color: #EEEEEE;
    margin: 20px auto 20px auto;
    max-width: 500px;
    box-shadow: 0 0 15px #000000;
}

    .panel.full-height {
        height: calc(100% - 40px);
    }

        .panel.full-height .panel-inner {
            height: calc(100% - 20px);
        }

.panel-inner {
    position: relative;
    padding: 20px 20px 10px 20px;
}

    .panel-inner a,
    .panel-inner .fa-times,
    .panel-inner .fakelink {
        color: blue;
        font-weight: 700;
        text-decoration: none;
        transition: 0.5s;
    }

        .panel-inner a:hover,
        .panel-inner .fa-times:hover {
            color: purple;
            text-decoration: none;
        }

    .panel-inner .fakelink {
        font-family: 'Oswald', sans-serif !important;
        font-weight: 300;
    }

    .panel-inner > h1 {
        font-size: 28px;
        line-height: 28px;
        margin: 0;
        padding: 0;
    }

    .panel-inner > h2 {
        font-size: 22px;
        line-height: 24px;
        margin: 15px 0;
        padding: 0;
    }

    .panel-inner > h3 {
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        margin: 15px 0;
        padding: 0;
    }

    .panel-inner > h4,
    .panel-inner > p {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 15px 0;
        padding: 0;
    }

        .panel-inner > h4.sub {
            margin: -10px 0 15px 0;
        }


    .panel-inner td {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .panel-inner tr:last-of-type td {
        padding-bottom: 0;
    }

    .panel-inner > .panel-close {
        font-size: 28px;
        line-height: 28px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

        .panel-inner > .panel-close > a {
            color: red;
            text-decoration: none;
        }

.upload-tag-selected {
    border-bottom: 1px dotted #000000;
    margin-right: 5px;
}

#comment-panel iframe {
    height: calc(100% - 50px);
    width: 100%;
    border: 0;
}

@media (max-width: 480px) {
    #sidebar {
        width: 100%;
        display: none;
        left: 0;
        transition: all 0.5s linear;
    }

        #sidebar.visible {
            left: 0;
            display: block;
        }
    
    #sidebar-inner {
        width: 100%;
    }

    #sidebar-mini {
        transition: none;
    }

    #view {
        transition: none;
    }

        #view.full {
            width: 100%;
        }

    .panel {
        margin: 0;
        width: 100%;
        height: 100%;
    }

        .panel.full-height {
            height: 100%;
        }

            .panel.full-height .panel-inner {
                height: calc(100% - 30px);
            }

    #comment-panel iframe {
        height: calc(100% - 50px);
    }
}