{
    "AppSettings": {
        "Analytics": {
            "GoogleAnalytics": "UA-XXXXXXXX-5"
        },
        "FileEndpoint": "https://yiff.fs.zyr.io/",
        "FileStorage": "/mnt/smb/Alfa01~Z.V.R.Web/data/yiff.co/",
        "SiteName": "Yio"
    },
    "ConnectionStrings": {
        "DefaultConnection": "..."
    },
    "Logging": {
        "IncludeScopes": false,
        "LogLevel": {
            "Default": "Debug",
            "System": "Information",
            "Microsoft": "Information"
        }
    }
}

