<div class="panel" id="apps-panel">
    <div class="panel-inner">
        <div class="panel-close">
            <a href="#" id="apps-panel-close"><i class="fa fa-fw fa-times"></i></a>
        </div>
        <h1>Apps &amp; Bots</h1>
        <h3><i class="fa fa-telegram"></i> <strong>Telegram</strong> Bot</h3>
        <p>
            Either message <a href="https://t.me/YioBot">@@YioBot on Telegram</a>, or invite it to a group.
        </p>
        <p>
            Call it with <strong><code>/random {board}</code></strong> to have it reply with an image from the board of your choosing. By default (missing <code>{board}</code> out) the bot replies with an image from the "furry" board.
        </p>
        <h3><i class="fa fa-telegram"></i> <strong>Telegram</strong> Channel</h3>
        <p>
            Join <a href="https://t.me/yiffco">@@yiffco on Telegram</a> and get a new image every 10 minutes.
        </p>
        <p>
            We recommend turning notifications on this channel off! This can usually be found under the settings for the group/channel (click the group/channel icon or title), and then "Notifications".
        </p>
        <hr />
        <h3><i class="fa fa-android"></i> <strong>Android</strong> App</h3>
        <p>
            <em>New version coming soon!</em>
        </p>
        <h3><i class="fa fa-windows"></i> <strong>Windows</strong> App</h3>
        <p>
            <em>New version coming soon!</em>
        </p>
        <h3><i class="fa fa-apple"></i> <strong>iOS</strong> App</h3>
        <p>
            <em>Coming soon!</em><br /><em>Due to App Store policies, however, it will not be allowed on there, so you will need a jailbroken device.</em>
        </p>
        <hr />
        <h3><i class="fa fa-cog"></i> <strong>API</strong></h3>
        <p>
            If you would like to use the API in your own app, the docs can be found on the <a href="https://git.zyr.io/Zyrio/Yio/src/develop/docs/ApiV2.md">Git repository for Yiff.co (Yio)</a>.
        </p>
        <p>
            In a nutshell, request <code>https://yiff.co/api/v2/random/{board}</code>. This is what is requested when your dirty paw hits the random button.
        </p>
        <p>
            The API is currently on <strong>version 2</strong> (<code>/api/v2/</code>). <strong>Version 1</strong> (<code>/api/v1/</code>) is now depricated; although still available, but will eventually become obsolete and break everything relying on it.
        </p>
        <h3><i class="fa fa-server"></i> <strong>Self-Host</strong></h3>
        <p>
            If you really want to, <a href="https://git.zyr.io/zyrio/yio">grab the code on Zyrio Git</a>, and run this site yourself. I mean, if you really want to... for, reasons?
        </p>
    </div>
</div>