<div class="panel" id="error-panel">
    <div class="panel-inner">
        <div class="panel-close">
            <a href="#" id="error-panel-close"><i class="fa fa-fw fa-times"></i></a>
        </div>
        <h1 id="error-title">Error!</h1>
        <p id="error-message">
            <img src="http://i.imgur.com/ne6uoFj.png" style="margin-bottom: 10px; width: 100%;"/><br />
            Uh, I can explain...
        </p>
    </div>
</div>